<div class="center">
  
  <h1>X-Rates</h1>
  <p>Check the current average exchange rates of foreign currencies in zlotys</p>
  
  <div class="welcome">
    <%= link_to "Check current exchange rates", currencies_exchange_path, class: "btn btn-md btn-success", role: "button" %>
  </div>
  
</div>