<h1>Current exchange rates</h1>

<%= render 'shared/exchange_rates', object: @exchange_rates %>

<div class="download">
  
  <%= link_to currencies_exchange_path(format: "pdf") do %>
    <button class="btn btn-danger">Save as PDF</button>
  <% end %>
  
</div>  